@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@import url("https://fonts.googleapis.com/cssfamily=Open+Sans:400,600,700");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: #212121;
}

.title-h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 35px;
}

.title-p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin: 0 auto;
  max-width: 620px;
}

.header-row-1 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  padding: 48px 0 40px 0;
}
.header-row-1 .logo {
  font-size: 25px;
  font-weight: 700;
}
.header-row-1 .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-row-1 .main-nav ul a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  margin: 0 25px;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.header-row-1 .main-nav ul a:hover, .header-row-1 .main-nav ul a:focus {
  border-radius: 5px;
  color: #00897b;
}

.header-row-2 {
  position: relative;
  background-image: url(../img/header/banner-bg.jpg);
  background-size: cover;
  min-height: 655px;
}
.header-row-2 .title {
  margin: 0 auto;
  padding: 180px 0 0 0;
  text-align: center;
}
.header-row-2 .title h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}
.header-row-2 .title h2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 125px;
}
.header-row-2 .title a {
  border: 3px solid #fff;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 20px 25px;
  margin: 0 25px;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.header-row-2 .title a:hover, .header-row-2 .title a:focus {
  border: 3px solid #00897b;
  background: #00897b;
}

.container-ab-us {
  margin-top: 120px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.container-ab-us .ab-us-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}
.container-ab-us .ab-us-title {
  margin-bottom: 120px;
}

.our-serv {
  background-color: #e4fdf9;
  font-family: 'Open Sans', sans-serif;
}
.our-serv .our-serv-title {
  text-align: center;
  padding-top: 150px;
}
.our-serv .all-services {
  padding-top: 115px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #212121;
}
.our-serv .all-services .service {
  background-color: #fff;
  text-align: center;
  padding: 60px 0 60px 0;
  max-width: 370px;
}
.our-serv .all-services .service:hover {
  background-color: #00897b;
}
.our-serv .all-services .service:hover .cursor {
  visibility: visible;
}
.our-serv .all-services .service h3 {
  margin: 20px 0 20px 0;
}
.our-serv .all-services .service p {
  max-width: 265px;
  margin: 0 auto 60px auto;
}
.our-serv .all-services .service a {
  border: 2px solid #212121;
  padding: 12px 16px;
  font-weight: 600;
}
.our-serv .all-services .service a:hover {
  color: #fff;
  border: 2px solid #fff;
}
.our-serv .all-services .service .cursor {
  position: relative;
  top: 45px;
  right: 22%;
  visibility: hidden;
}
.our-serv .our-serv-row-2 {
  padding-top: 20px;
}
