@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@import url("https://fonts.googleapis.com/cssfamily=Open+Sans:400,600,700");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: #212121;
}

.title-h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

.title-p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin: 0 auto;
  max-width: 620px;
}

.header-row-1 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  padding: 48px 0 40px 0;
}
.header-row-1 .logo {
  color: #212121;
  font-size: 25px;
  font-weight: 700;
}
.header-row-1 .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-row-1 .main-nav ul a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  margin: 0 25px;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.header-row-1 .main-nav ul a:hover, .header-row-1 .main-nav ul a:focus {
  border-radius: 5px;
  color: #00897b;
}

.header-row-2 {
  position: relative;
  background-image: url(../img/header/banner-bg.jpg);
  background-size: cover;
  min-height: 655px;
}
.header-row-2 .title {
  margin: 0 auto;
  padding: 180px 0 0 0;
  text-align: center;
}
.header-row-2 .title h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}
.header-row-2 .title h2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 125px;
}
.header-row-2 .title a {
  border: 3px solid #fff;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 20px 25px;
  margin: 0 25px;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.header-row-2 .title a:hover, .header-row-2 .title a:focus {
  border: 3px solid #00897b;
  background: #00897b;
}

.container-ab-us {
  margin-top: 120px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.container-ab-us .ab-us-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}
.container-ab-us .ab-us-info h3 {
  margin: 30px 0 25px 0;
}
.container-ab-us .ab-us-info p {
  max-width: 255px;
  margin: 0 auto;
}
.container-ab-us .ab-us-title {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-serv {
  background-color: #e4fdf9;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 120px;
}
.our-serv .our-serv-title {
  text-align: center;
  padding-top: 150px;
}
.our-serv .all-services {
  padding-top: 115px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #212121;
}
.our-serv .service {
  background-color: #fff;
  text-align: center;
  padding: 60px 0 60px 0;
  max-width: 370px;
  -webkit-transition: .2s;
  transition: .2s;
}
.our-serv .service:hover {
  background-color: #00897b;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
}
.our-serv .service:hover .serv-change-color {
  color: #fff;
}
.our-serv .service:hover .cursor {
  visibility: visible;
}
.our-serv .service h3 {
  margin: 20px 0 20px 0;
}
.our-serv .service p {
  max-width: 265px;
  margin: 0 auto 60px auto;
}
.our-serv .service a {
  border: 2px solid #212121;
  padding: 12px 16px;
  font-weight: 600;
  outline: none;
}
.our-serv .service a:hover {
  color: #fff;
  border: 2px solid #fff;
}
.our-serv .service a:focus {
  background-color: #00897b;
  border: 2px solid #00897b;
  color: #fff;
}
.our-serv .service .cursor {
  position: relative;
  top: 45px;
  right: 22%;
  visibility: hidden;
}
.our-serv .our-serv-row-2 {
  padding-top: 20px;
}

.latest-works {
  margin-top: 120px;
}
.latest-works .latest-works-title {
  text-align: center;
}

.latest-works-navigation {
  margin: 115px auto 0 auto;
}
.latest-works-navigation .latest-works-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.latest-works-navigation .latest-works-menu a {
  border: 2px solid #00897b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 0 20px;
  outline: none;
  padding: 12px 22px;
  -webkit-transition: .2s;
  transition: .2s;
}
.latest-works-navigation .latest-works-menu a:hover, .latest-works-navigation .latest-works-menu a:focus {
  background-color: #00897b;
  color: #fff;
}

.latest-works-gallery {
  margin-top: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 120px;
}
.latest-works-gallery .working {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  max-width: 370px;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  transition: 1s;
  text-align: center;
}
.latest-works-gallery .working img {
  position: relative;
  width: 100%;
  height: auto;
}
.latest-works-gallery .working .description {
  color: #fff;
  line-height: 20px;
  position: absolute;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.latest-works-gallery .working:before {
  background-color: rgba(0, 0, 0, 0.7);
  content: '';
  bottom: 0;
  max-height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.latest-works-gallery .working:hover:before {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}
.latest-works-gallery .working:hover .description {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  visibility: visible;
  z-index: 2;
}
.latest-works-gallery .link-view-all {
  background-color: #00897b;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 20px 50px;
}
.latest-works-gallery .view-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 110px;
  margin: 120px auto 0 auto;
  -webkit-transition: .2s;
  transition: .2s;
}
.latest-works-gallery .view-all a {
  border: 2px solid #00897b;
  outline: none;
}
.latest-works-gallery .view-all a:hover, .latest-works-gallery .view-all :focus {
  background-color: #fff;
  color: #00897b;
  -webkit-transition: .2s;
  transition: .2s;
}

.pricing-plans {
  background-color: #f0f1f1;
  padding-top: 120px;
  font-family: 'Open Sans', sans-serif;
}
.pricing-plans .pricing-plan-title {
  text-align: center;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  margin-top: 120px;
  padding-bottom: 100px;
  text-align: center;
}
.plans .plan {
  background-color: #fff;
  max-width: 360px;
  padding: 0 0 60px 0;
  -webkit-transition: .3s;
  transition: .3s;
}
.plans .plan:hover {
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}
.plans .price {
  background-color: #3949ab;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
  -ms-border-radius: 20px;
  padding-bottom: 60px;
  width: 100%;
}
.plans .price h3 {
  font-size: 25px;
  font-weight: 400;
  padding-top: 30px;
}
.plans .price sup {
  font-size: 25px;
  padding-bottom: 220px;
}
.plans .price sub {
  font-size: 50px;
  font-weight: 100;
}
.plans .vista {
  color: #212121;
  font-weight: 100;
  margin: 45px auto 60px auto;
}
.plans .vista li {
  border-bottom: 1px solid #bfbfbf;
  max-width: 180px;
  margin: 20px auto 0 auto;
  padding-bottom: 5px;
}
.plans .pricing-order-now {
  border: 1px solid #212121;
  font-weight: 600;
  padding: 15px 30px;
  -webkit-transition: .2s;
  transition: .2s;
}
.plans .pricing-order-now:hover, .plans .pricing-order-now:focus {
  border: 1px solid #00897b;
  background-color: #00897b;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.our-team {
  font-family: 'Open Sans', sans-serif;
  margin: 120px auto 0 auto;
  padding-bottom: 120px;
}
.our-team .our-team-title {
  text-align: center;
}

.our-team-member {
  margin-top: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-member-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}
.icon-member-box img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.icon-member {
  opacity: .3;
  text-align: center;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 1s;
  transition: 1s;
}

.our-team-info {
  display: none;
  text-align: center;
  -webkit-transition: 2s;
  transition: 2s;
}
.our-team-info img {
  border-radius: 10px;
}
.our-team-info h3 {
  margin-top: 20px;
  font-size: 20px;
}
.our-team-info p {
  font-size: 15px;
}
.our-team-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 0 0;
}
.our-team-info ul li {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 5px;
  margin: 0 10px;
  max-height: 40px;
  min-width: 50px;
  padding: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}
.our-team-info ul li:hover {
  background-color: #f0f1f1;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

#our-team-switch-1:checked ~ .our-team .our-team-member .member-1,
#our-team-switch-2:checked ~ .our-team .our-team-member .member-2,
#our-team-switch-3:checked ~ .our-team .our-team-member .member-3 {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

#our-team-switch-1:checked ~ .our-team .our-team-member .our-team-info-box .team-info-1,
#our-team-switch-2:checked ~ .our-team .our-team-member .our-team-info-box .team-info-2,
#our-team-switch-3:checked ~ .our-team .our-team-member .our-team-info-box .team-info-3 {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.blog {
  background-color: #e4fdf9;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 90px;
}

.blog-title {
  text-align: center;
  padding-top: 120px;
}

.article-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.articles {
  margin-top: 120px;
}

.articles-poster img {
  width: 100%;
  height: auto;
}

.article-title {
  padding-top: 40px;
}
.article-title .datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
}
.article-title .datetime img {
  margin-right: 10px;
}
.article-title h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.article-title h3 a {
  -webkit-transition: .3s;
  transition: .3s;
  outline-color: #00897b;
}
.article-title h3 a:hover, .article-title h3 a:focus {
  color: #00897b;
  -webkit-transition: .3s;
  transition: .3s;
}

.article p {
  max-width: 455px;
}

.more-view {
  text-align: center;
  margin-top: 120px;
  padding-bottom: 30px;
}
.more-view a {
  background-color: #00897b;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  outline: none;
  padding: 20px 50px;
  -webkit-transition: .5s;
  transition: .5s;
}
.more-view a:hover, .more-view a:focus {
  background-color: #fff;
  color: #00897b;
  border: 2px solid #00897b;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact-us {
  background-image: url(../img/contact-us/bg-footer.jpg);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.contact-us-title {
  color: #fff;
  padding: 120px 0 0 0;
  text-align: center;
}
.contact-us-title h2 {
  font-size: 30px;
}
.contact-us-title p {
  font-size: 15px;
  margin: 30px auto 0 auto;
  max-width: 620px;
}

.our-data {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}
.our-data ul {
  margin-top: 20px;
}

.contact-form {
  margin: 100px auto 0 auto;
  text-align: center;
}

.contats-us-form {
  max-width: 1030px;
  margin: 0 auto;
}

.block-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}
.block-input input {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  min-height: 60px;
  text-align: left;
  outline-color: #00897b;
  padding: 0 0 0 30px;
  width: 49%;
}

.contact-us-massage {
  border-radius: 10px;
  font-size: 20px;
  margin-top: 30px;
  max-height: 325px;
  outline-color: #00897b;
  padding: 30px 0 0 30px;
  resize: none;
  width: 100%;
}

.send-massage {
  text-align: right;
  margin-top: 15px;
}
.send-massage button {
  background: #fff;
  border: none;
  border-radius: 10px;
  color: #212121;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  width: 200px;
  -webkit-transition: .4s;
  transition: .4s;
  outline: none;
}
.send-massage button:hover, .send-massage button:focus {
  background: #00897b;
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.copyright {
  background-color: #fff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0;
  text-align: center;
}
