// fonts
@import 'colors';
@import 'fonts';

// common styles
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

}

a {
    color: $base-color;
}

.title-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.title-p {
//    color: $base-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin: 0 auto;
    max-width: 620px;
}


// beginning of styles for header


.header-row-1 {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    padding: 48px 0 40px 0;

    
    .logo {
        color: $base-color;
        font-size: 25px;
        font-weight: 700;
        
    }
    
    .main-nav ul {
        display: flex;
        
        a {
            display: block;
            font-size: 20px;
            font-weight: 600;
            line-height: 22px;
            margin: 0 25px;
            outline: none;
            transition: .2s;
            
            
            &:hover,
            &:focus {
                border-radius: 5px;
                color: $contrast-color;
            }
            
        } // /a
         
    } // /ul 
            
} // /header-row-1



.header-row-2 {
    position: relative;
    background-image: url(../img/header/banner-bg.jpg);
    background-size: cover;
    min-height: 655px;
    
    .title {
        margin: 0 auto;
        padding: 180px 0 0 0;
        text-align: center;
        
        h1 {
            color: $white;
            font-family: 'Open Sans', sans-serif;
            font-size: 60px;
        }
        
        h2 {
            color: $white;
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 125px;
        }
        
        a {
            border: 3px solid $white;
            color: $white;
            font-family: 'Roboto', sans-serif;
            padding: 20px 25px;
            margin: 0 25px;
            outline: none;
            transition: .2s;
            
            
            &:hover,
            &:focus {
                border: 3px solid $contrast-color;
                background: $contrast-color;
            }
        }
        
    }
     
}




// Beginning About Us
.container-ab-us {
    margin-top: 120px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
    .ab-us-info {
        display: flex;
        margin-bottom: 120px;
    }
    
    .ab-us-title {
        margin-bottom: 120px;
    }
}
// End of about us



// Beginning of Our Services
.our-serv {
    background-color: $bg-color-our-serv;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 120px;
    
    .our-serv-title {
        text-align: center;
        padding-top: 150px;
    }
    
    .all-services {
        padding-top: 115px;
        justify-content: space-between;
        color: $base-color;
        
    }
    
    .service {
        background-color: $white;
        text-align: center;
        padding: 60px 0 60px 0;
        max-width: 370px;
        transition: .2s; 
            
        
        &:hover {
            background-color: $contrast-color;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
        }
            
        &:hover .serv-change-color {
            color: $white;
        }
        
        
        &:hover .cursor {
            visibility: visible;
        }
        
        h3 {
            margin: 20px 0 20px 0;
        }
        
        p {
            max-width: 265px;
            margin: 0 auto 60px auto;
        }
        
        a {
            border: 2px solid $base-color;
            padding: 12px 16px;
            font-weight: 600;
            outline: none;
            
        &:hover {
                color: $white;
                border: 2px solid $white;
        }
            
        &:focus {
            background-color: $contrast-color;
            border: 2px solid $contrast-color;
            color: $white;
        }
            
            }// /a
            
        .cursor {
            position: relative;
            top: 45px;
            right: 22%;
            visibility: hidden;
        }
            
        } // /service
    
    .our-serv-row-2 {
        padding-top: 20px;
    }
    
}
// /Our Services






// Beginning of Latest Works

.latest-works {
    margin-top: 120px;
    
    .latest-works-title {
        text-align: center;
    }    
}

// Beginning of latest-works-navigation
.latest-works-navigation {
    margin: 115px auto 0 auto;
    
    
    .latest-works-menu {
        display: flex;
        
        a {
            border: 2px solid $contrast-color;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin: 0 20px;
            outline: none;
            padding: 12px 22px;
            transition: .2s;
            
            &:hover,
            &:focus {
                background-color: $contrast-color;
                color: $white;
                
                
            }
        }
    }
}// /latest-works-navigation



// Beginning of latest-works-gallery
.latest-works-gallery {
    margin-top: 130px;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 120px;
    
    .working {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;
        max-width: 370px;
        margin-bottom: 20px;
        position: relative;
        transition: 1s;
        transition-timing-function: ease-in-out;
        transition: 1s;
        text-align: center;
        
        img {
            position: relative;
        }
        
        .description {
            color: #fff;
            line-height: 20px;
            
//            left: 40%;
            position: absolute;
//            top: 40%;
            visibility: hidden;
            transition: 1s;
            opacity: 0;
            
        }
        
        &::before {
            background-color: rgba(0,0,0,0.7);  
            content: '';
            bottom: 0;
            max-height: 100%;
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: 1;
        }
 
        &:hover::before {
            opacity: 1;
            transition: .7s;
        }
        
        &:hover .description {
            opacity: 1;
            transition: 1s;
            visibility: visible;
            z-index: 2;
        }
    } // /working
    
    .link-view-all {
        background-color: $contrast-color;
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin: 0 auto;
        padding: 20px 50px;
    }
    
    .view-all {
        display: flex;
        justify-content: center;
        margin-top: 110px;
        transition: .2s;

        a {
            border: 2px solid $contrast-color; 
        }
        
        a:hover {
            background-color: $white;
            color: $contrast-color;
            transition: .2s;
        }
        
    }
    
} // /latest-works-gallery



// Beginning of Pricing Plan
.pricing-plan {
    background-color: $bg-color-pricing-plan;
    padding-top: 120px;
    
    .pricing-plan-title {
        text-align: center;
    }
}























